{% extends 'main/base.html' %}

{% block pageTitle %}
	{{ title }}
{% endblock pageTitle %}

{% block content %}
	<form method="post" name="my_form"> {% csrf_token %}
		<p>Are you sure you want to delete "{{ object }}"?</p>
		{% if object.check_in %}
			<p> Reservation for {{ object.check_in }} to {{ object.check_out }}
			</p>
		{% endif %}
		<button class="waves-effect waves-light btn red" type="submit" name="Save"><i class="material-icons right">save</i>Save</button>
	</form>
{% endblock content %}